.xtractr-telefono {
    /* le damos estilos de tabla */
    display: table;
    width: 100%;
    /* ponemos bordes y añadimos margenes */
    background-color: #5e9cd4;
    border-radius: 5px;
    padding: .5em;
    margin: .2em;
    font-size: larger;
    font-weight: bold;

}
/* xtractor-enviar al iniciar la pagina, hace una animacion de transicion */

.xtractr-enviar {
    /* Tus estilos aquí */
    /* damos estilo de boton azul */
    background-color: #83c67475;

    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 1em;
    text-transform: uppercase;
    /* le damos formato al texto */
    font-weight: bold;
    /* le quitamos el underline */
    text-decoration: none;
    
    float: right;
    padding: .5em;
    /*le damos tiempo a la transicion */
    transition: all 0.3s ease-in-out;
    
}
/* al pasar el raton por encima de enviar */
.xtractr-enviar:hover {
    /*le damos tiempo a la transicion */
    transition: all 0.3s ease-in-out;
    /* le damos un color de fondo */
    background-color: #83c674;
    /* aumentamos ligeramente el tamaño */
    transform: scale(1.1);
    

}
.xtractr-telefono-container {
    /* estilizamos y damos forma de tabla a lo que hay en el interior */
    display: inline-table;
    width: 90%;
    margin: 10px 0;

    /* lo hacemos transparente para el fade */


    

}
/* chat-input */
#chat-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.2em;
    /* le damos un margen */
    margin-right: 1em;
    /* le damos un padding */
    padding: 0.5em;
    /* le damos un borde */
    border-radius: 5px;
    /* le damos un color de fondo */
    background-color: #fff;
    /* le damos un color de texto */
    color: #000;
    /* le damos un borde */

}
/* input-ai */
#input-ai {
    /* le damos el estilo del input de texto de whatsapp */
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.2em;
    /* le damos un margen */
    margin-right: 1em;
    /* le damos un padding */
    padding: 0.5em;
    /* le damos un borde */
    border-radius: 5px;
    /* le damos un color de fondo */
    background-color: #fff;
    /* le damos un color de texto */
    color: #000;
    /* le damos un borde */



}
/* enviar-ai */
#send-btn {
  /* le damos estilo del boton de enviar de whatsapp */
  background-color: #83c674!important;
  border: 1px solid #000000!important;
  border-radius: 5px!important;
  color: #fff!important;
  cursor: pointer!important;
  text-transform: uppercase!important;
  float: right!important;
  padding: 10px!important;
  transition: all 0.3s ease-in-out!important;
}
#openai-chat-box {
    height: 600px; /* Ajusta la altura según tus preferencias */
    overflow-y: auto;
    /* no puede salirse nada por los laterales */
    overflow-x: hidden;
    width: 92%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 2em!important;
  }
  
  .message {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
    /* lo colocamos en la parte inferior como el chat de whatsapp */
    align-self: flex-end;

  }
  
  .user-message {
    background-color: #e0f7fa;
    align-self: flex-end;
  }
  
  .bot-message {
    background-color: #9b9b9b;
  }
  