.xtractr-telefono {
    /* le damos estilos de tabla */
    display: table;
    width: 100%;
    /* ponemos bordes y añadimos margenes */
    border: 1px solid #9e9e9e;
    background-color: #5e9cd4;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;

}

.xtractr-enviar {
    /* Tus estilos aquí */
    /* damos estilo de boton azul */
    background-color: #007bff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 1em;
    text-transform: uppercase;
    /* lo pegamos a la derecha */
    float: right;



}
.xtractr-telefono-container {
    /* estilizamos y damos forma de tabla a lo que hay en el interior */
    display: inline-table;
    width: 90%;
    /* ponemos bordes y añadimos margenes */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;

    /* lo hacemos transparente para el fade */


    

}
/* chat-input */
#chat-input {
    /* Tus estilos aquí */
    /* le damos un borde */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* le damos un color de fondo */
    background-color: #fff;
    /*se coloca en la parte inferior del div que lo rodea */
    /* le damos un margen */
    margin-top: 10px;
    /* le damos un ancho del 100% */
    width: 100%;
    /* le damos un padding */
    padding: 10px;
    /* colocamos el contenido uno al lado del otro */
    /* no puede superar el tamaño del div que lo rodea */
    box-sizing: border-box;

}
/* input-ai */
#input-ai {
    /* ocupa el 70% del espacio */
    /* le damos un borde */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* le damos un color de fondo */
    background-color: #fff;
    /*se coloca en la parte inferior del div que lo rodea */


}
/* enviar-ai */
#enviar-ai {
    /* Tus estilos aquí */
    /* damos estilo de boton azul */
    background-color: #007bff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    /* lo pegamos a la derecha en la parte inferior */
    float: right;



    /* le damos un hover */
    transition: all 0.3s ease-in-out;
}
#openai-chat {
    height: 400px; /* Ajusta la altura según tus preferencias */
    overflow-y: auto;
    /* no puede salirse nada por los laterales */
    overflow-x: hidden;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .message {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
    /* lo colocamos en la parte inferior como el chat de whatsapp */
    align-self: flex-end;

  }
  
  .user-message {
    background-color: #e0f7fa;
    align-self: flex-end;
  }
  
  .bot-message {
    background-color: #9b9b9b;
  }
  