.xtractr-telefono {
    /* le damos estilos de tabla */
    display: table;
    width: 100%;
    /* ponemos bordes y añadimos margenes */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;

}

.xtractr-enviar {
    /* Tus estilos aquí */
    /* damos estilo de boton azul */
    background-color: #007bff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    /* lo pegamos a la derecha */
    float: right;

    /* le damos un hover */
    transition: all 0.3s ease-in-out;


}
.xtractr-telefono-container {
    /* estilizamos y damos forma de tabla a lo que hay en el interior */
    display: table;
    width: 100%;
    /* ponemos bordes y añadimos margenes */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    /* lo hacemos transparente para el fade */
    background-color: rgba(255, 255, 255, 0.5);
    /* le damos un hover */
    transition: all 0.3s ease-in-out;
    

}

